# Python related files
server/*.pyc

# Logs and storage files with possibly sensitive information
server/xactn.log
server/devicelist.pickle

# Certificates with sensitive information
server/CA.crt
server/Enroll.mobileconfig
server/Identity.p12
server/PushCert.pem
server/Server.*
server/identity.crt

# Custom payloads
server/Manifest.plist
server/MyApp.*
